[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rd_party/precore"]
	path = 3rd_party/precore
	url = https://github.com/PredatorCZ/PreCore.git
[submodule "3rd_party/decaf/cnl"]
	path = 3rd_party/decaf/cnl
	url = git@github.com:johnmcfarlane/cnl.git
